@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(#EFF54D, #00AC61);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Sansita Swashed', cursive;
}

.center {
    width: 16vw;
    height: 40vh;
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
}

h1 {
    font-size: 30px;
    border-left: 5px solid rgb(7, 114, 236);
    padding-left: 20px;
}

.inputbox input {
    width: 80%;
    font-family: 'Sansita Swashed';
    font-size: 18px;
    margin-top: 30px;
    border: 3px solid black;
    border-radius: 5px;
    padding: 15px;
}

input[type=button] {
    width: 60%;
    color: #fff;
    padding: 10px;
    background-color: #37c7cc;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type=button]:hover {
    background-image: linear-gradient(#538FFB, #5B54FA);
}